 
 
 /* footer section*/
.footer_section {
  background-color: #222831;
  /* background-color: #000000; */
  color: #ffffff;
  padding: 75px 0 40px 0;
  text-align: center;
}

.footer_section h4 {
  font-size: 28px;
}

.footer_section h4,
.footer_section .footer-logo {
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer_section p {
  color: #dbdbdb;
}

.footer_section .footer-col {
  margin-bottom: 30px;
}

.footer_section .footer_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_section .footer_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.footer_section .footer_contact .contact_link_box a i {
  margin-right: 5px;
}

.contact_link_box a{
  text-decoration: none !important;
}

.footer_section .footer_contact .contact_link_box a:hover {
  color: #ffbe33;
}

.footer_section .footer-logo {
  display: block;
  font-weight: bold;
  font-size: 38px;
  line-height: 1;
  color: #ffffff;
}

.footer_section .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.footer_social i{
  font-size: 30px;
}

.footer_social i:hover{
  color:#999999;
}

.footer_section .footer_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222831;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 0 2.5px;
  font-size: 18px;
}

.footer_section .footer_social a:hover {
  color: #ffbe33;
}

.footer_section .footer-info {
  text-align: center;
  margin-top: 25px;
}

.footer_section .footer-info p {
  color: #ffffff;
  margin: 0;
}

.footer_section .footer-info p a {
  color: inherit;
}

/* end of footer */
  .backtotop{
    position: fixed;
    top: 85vh !important;
    z-index: 9999 !important;
    width: auto;
    padding-right: 10px;
  }
  .buttonfooter {
    width: 27px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #fff;
    background: none;
    position: relative;
    padding-bottom: 2em;
  }
  
  .buttonfooter > div,.buttonfooter > svg {
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
  }
  
  .buttonfooter:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    /* width: 100%; */
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
  }
  
  .buttonfooter:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .buttonfooter .clone > *,.buttonfooter .text > * {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
  }
  
  .buttonfooter .clone > * {
    transform: translateY(60px);
  }
  
  .buttonfooter:hover .clone > * {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  .buttonfooter:hover .text > * {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  .buttonfooter:hover .clone > :nth-child(1) {
    transition-delay: 0.15s;
  }
  
  .buttonfooter:hover .clone > :nth-child(2) {
    transition-delay: 0.2s;
  }
  
  .buttonfooter:hover .clone > :nth-child(3) {
    transition-delay: 0.25s;
  }
  
  .buttonfooter:hover .clone > :nth-child(4) {
    transition-delay: 0.3s;
  }
  /* icon style and hover */
  .buttonfooter svg {
    /* width: 20px; */
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
  }
  
  .buttonfooter:hover svg {
    transform: translateY(-50%) rotate(-90deg);
  }